body{

	background-color: rgb(127, 140, 141);
}


.whole-page{

	width: 50vw;
	margin: auto;
}

.my-website{
	background-color: rgb(46, 204, 113);
	height: 200px;
	border-bottom: 5px solid;
	border-color:rgb(39, 174, 96);

}

.my-website h2{
	color: white;
	vertical-align: bottom;
	line-height: 350px;
	font-size: 190%;
	padding-left: 10px;
	padding-bottom: 0px;
}

.navbar{

	background-color: rgb(52, 73, 94);
	text-align: right;
	height: 35px;
	border-bottom: 5px solid rgb(44, 62, 80); 
}


.navbar li{

	color:white;
	display: inline-block;
	font-size: 15px;
	padding: 0px 10px;
	vertical-align: middle;
	line-height: 50px;
}

ul{
	margin: 0;

}

.sidebar{
position:relative;
background-color: rgb(236, 240, 241);
float: right;
width: 9vw;
left:220px;
height: 10vw;
padding: 18px;
text-decoration: none;
}


.sidebar .recent-posts{
font-size: 15px;
font-weight: bold;
margin-left:-15px
}


.sidebar .categories{
	font-size: 15px;
	font-weight: bold;
	margin-left:-15px



}
.first-three{
	list-style-type: none;
	font-size: 12px;
	margin-left: -48px;
	color:rgb(102, 102, 102)
}



.second-three{
	list-style-type: none;
	font-size: 12px;
	margin-left: -45px;
	color:rgb(102, 102, 102);

}

.first-three li{
	padding-bottom: 5px;
}

.second-three li{
	padding-bottom: 5px;
}

.main-content{
background-color: #ECF0F1;
height: 100vw;

}

.content-body{
	height: 20vw;
	border-bottom: 1px solid gray;


}
.article-title{
	margin: 0;
	margin-left: 15px;
	position: relative;
	top:50px;
}

.lorem{
	list-style-type: none;
	position: relative;
	top:4vw;
	margin-left: 30px;
}

.link{
	color:red;
}

.section-title{
	position: relative;
	top:8vw;
	margin-left: 15px;
}











}